*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;

    --white: #fff;
    --gray-100: #f5f5f5;
    --gray-300: #8d8d99;
    --gray-900: #202024;
}

body{
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--gray-900);
}



#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

main{
    background-color: rgb(221, 221, 250);
    overflow-y: scroll;
    background-color: var(--gray-100);
}